.main-nav{
    visibility: hidden;
    height: 0px;
    width: 0px;
}
.mobile-nav ul{
    display: grid;
    grid-gap: 75px;
    padding:0;
    list-style: none;
    grid-template-columns: 40% 1fr;
    font-family: 'Thasadith', sans-serif;
    font-weight: bold;
}





.topnav {
  overflow: hidden;
}

.topnav a {
  float: right;
  display: grid;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  /*background-color: #f9f8f7;*/
}

.topnav a:hover {
  background-color: #e8e6de;
}

.topnav .icon {
  display: none;
}


.topnav a{display: none;}
.topnav a.icon {
    /*padding-top: 30px;*/
    font-size: 40pt;  
    float: right;
    display: block;
    background-color: rgba(0,0,0, 0.0);
  }

.topnav.responsive {
    transition-duration: 1s;
    position: fixed;
    right: 0;
    top: 0;
    padding-top: 100px;
    height: 2000px;
    background-color: #f9f8f7;
}
.topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 16px;
  }
.topnav.responsive a {
    right: 0;
    top: 0;
    float: none;
    display: block;
    text-align: left;
    
  }





li img{
    width: 250px;
    height: auto;
    margin: 25px;
    padding-top: 0px;
}

header img{
    width: 250px;
    height: auto;
    margin: 25px;
}

body{
    background-color: #f9f8f7;
    background-image:url(bg.png);
    background-attachment: fixed;
    margin: 0px;
    overflow-x: hidden;
    /*padding: 0px 10px;*/
}

h1{
    font-family: 'Thasadith', sans-serif;
    text-align: center;
    font-size: 28pt;
    line-height: 26pt;
    text-transform: uppercase;
    font-weight: bold;
}
h2{
  font-family: 'Thasadith', sans-serif;
  /*text-align: center;*/
  font-size: 16pt;
}
p{
  font-family: 'Poppins', sans-serif;
  text-align: left;
  padding-right: 10px;
  margin-top: 30px; 
  margin-bottom: 5px;
}

footer p{
  font-family: 'Poppins', sans-serif;
  text-align: left;
  padding-right: 10px;
  margin-top: 0px; 
  margin-bottom: 0px;
  font-size: 10pt;
}
footer a{
    text-decoration: none;
    color: #000000;
}
footer a:hover{
    text-decoration: underline;
    
}
footer{
    margin-top: 35px;
    border-width: 2px;
    border-style: solid;
    border-color: #c7c6bf;
    background-color: rgba(212, 211, 204, .65); 
    padding: 0px 15px 25px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-template-rows: 1fr 1fr;
}
footer img{
    width: 120px;
    height: auto;
    margin:  20px 0px 0px 0px;
    opacity: .85;
}


span{
    color: red;
    font-family: 'Poppins', sans-serif;
    font-size: 10pt;
}

.contact-container{
  /*display: grid;
  align-content: space-between;*/
  border-width: 2px;
  border-style: solid;
  border-color: #e8e6de;
  padding: 15px 30px;
  text-align: left;
  width: 270px;
    margin: auto;   
    margin-top: 370px;
    background-color: #f9f8f7;
    border-radius: 5px;
}

.row{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    width: 100%;
    align-content: center;
    margin: auto;
    padding: auto;
    }

.chef-container{
    display: grid;
    grid-column: 1;
    grid-row: 1;
    border-width: 2px;
    border-style: solid;
    border-color: #e8e6de;
    padding: 15px 30px;
    text-align: left;
    width: 270px;
    margin: auto;   
    margin-top: 20px;
    margin-bottom: 50px;
    /*margin: 50px 450px;*/
    background-color: #f9f8f7;
    border-radius: 5px;
}
.menu{
    display: grid;
    grid-column: 1;
    grid-row: 2;
    border-width: 2px;
    border-style: solid;
    border-color: #e8e6de;
    padding: 15px 30px;
    text-align: left;
    width: 270px;
    margin: auto;   
    margin-bottom: 50px;
    background-color: #f9f8f7;
    border-radius: 5px;
    
}
.menu h2{
    text-transform: uppercase;
    font-weight: bold;
}

input{
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #e8e6de;
    font-family: 'Poppins', sans-serif;
    width: 175px;
    height: 30px;
}
#name{
    
    margin-left: 10px;
}
#email{
    
    margin-left: 16px;
}
#phone{
    
    margin-left: 4px;
}
#date{
    
    margin-left: 19px;
}
#time{
    
    margin-left: 18px;
}
#party{
    
    margin-left: 4px;
    width: 155px;
}
select{
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #e8e6de;
    font-family: 'Poppins', sans-serif;
    width: 155px;
}
textarea{
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #e8e6de;
    width: 240px;
}

button{
    width: 100px;
    margin: 20px 15px 10px 15px;
    padding: 12px 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #c7c6bf;
    background-color: #f9f8f7;
    font-family: 'Poppins', sans-serif;
    font-size: 15pt;
    border-radius: 2px;
}
button:hover{
    transition: background-color 1.25s;
    background-color: #c7c6bf;
    border-color: #c7c6bf;
}
button:active{
    transition: background-color 1.25s;
    background-color: #c7c6bf;
    border-color: #c7c6bf;
}


footer{
    margin-top: 35px;
    border-width: 2px;
    border-style: solid;
    border-color: #c7c6bf;
    background-color: rgba(212, 211, 204, .65); 
    padding: 0px 15px 25px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-template-rows: 145px 70px;
}
  
 .logo{
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    /*background-color: aliceblue;*/
    padding: 0px 15px;
    grid-column: 1;
    grid-row: 2;    
}   
.restinfo{
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 0px 15px;
    grid-column: 1;
    grid-row: 1; 
}

.hours{
    display: grid; 
    grid-template-columns: 1fr;
    /*background-color: aqua;*/
    grid-column: 2;
    grid-row: 1 / 2;
    padding: 0px 5px;
}

.chef-container img{
    width: 100%;
    border-radius: 10px;
    max-width: 639px;
}

.pho{
float: right;
    height: 400px;
    margin-bottom: 50px;
    
}
.pho img{
    width: 100%;
    max-height: 400px;
    max-width: 407px;
}
.pho-full{
    visibility: hidden;
    width: 0px;
    height: 0px;
}
.pho-full img{
    visibility: hidden;
        width: 0px;
    height: 0px;
}

.interior{
float: left;
    height: 300px;
    /*background-color: aqua;*/
    margin-bottom: 50px;
    /*background-image: url(foodheadercropped.png);*/
    
}
.interior img{
    width: 100%;
    max-height: 300px;
}






@media(min-width: 600px){
 header img{
    width: 250px;
    height: auto;
    margin: 25px;
}     

.pho{
float: right;
    height: 600px;
    max-width: 610px;
    /*background-color: aqua;*/
    margin-bottom: 50px;   
}
.pho img{
    width: 100%;
    max-height: 600px;
    max-width: 610px;
}
  
    
.interior{
float: left;
    max-height: 600px;
    /*background-color: aqua;*/
    margin-bottom: 50px;
    /*background-image: url(foodheadercropped.png);*/
    
}
.interior img{
    width: 100%;
    max-height: 600px;
}  
 
.contact-container{
  /*display: grid;
  align-content: space-between;*/
  border-width: 2px;
  border-style: solid;
  border-color: #e8e6de;
  padding: 15px 30px;
  text-align: left;
  width: 500px;
    margin: auto;   
    margin-top: 570px;
    background-color: #f9f8f7;
    border-radius: 5px;
}

.chef-container{
    display: grid;
    border-width: 2px;
    border-style: solid;
    border-color: #e8e6de;
    padding: 15px 30px;
    text-align: left;
    width: 500px;
    margin: auto;   
    margin-top: 20px;
    margin-bottom: 10px;
    /*margin: 50px 450px;*/
    background-color: #f9f8f7;
    border-radius: 5px;
}   
.menu{
    /*display: grid;
    align-content: space-between;*/
    border-width: 2px;
    border-style: solid;
    border-color: #e8e6de;
    padding: 15px 30px;
    text-align: left;
    width: 500px;
    margin: auto;   
    margin-top: 20px;
    margin-bottom: 50px;
    /*margin: 50px 450px;*/
    background-color: #f9f8f7;
    border-radius: 5px;
} 

input{
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #e8e6de;
    font-family: 'Poppins', sans-serif;
    width: 400px;
    height: 30px;
}
#name{
    
    margin-left: 10px;
}
#email{
    
    margin-left: 16px;
}
#phone{
    
    margin-left: 4px;
}
#date{
    
    margin-left: 19px;
}
#time{
    
    margin-left: 18px;
}
#party{
    
    margin-left: 4px;
    width: 380px;
}
textarea{
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #e8e6de;
    width: 465px;
}    

footer{
    margin-top: 35px;
    border-width: 2px;
    border-style: solid;
    border-color: #c7c6bf;
    background-color: rgba(212, 211, 204, .65); 
    padding: 0px 15px 25px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-template-rows: 145px 70px;
}
  
 .logo{
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    /*background-color: aliceblue;*/
    padding: 0px 15px;
    grid-column: 1;
    grid-row: 2;    
}   
.restinfo{
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    /*background-color: aliceblue;*/
    padding: 0px 15px;
    grid-column: 1;
    grid-row: 1/2;
    
}

.hours{
    display: grid; 
    grid-template-columns: 1fr;
    /*background-color: aqua;*/
    grid-column: 2;
    grid-row: 1 / 2;
    padding: 0px 5px;
}
}

@media(min-width: 750px){
    header img{
    width: 250px;
    height: auto;
    margin: 25px;
}
    
 .contact-container{
    border-width: 2px;
    border-style: solid;
    border-color: #e8e6de;
    padding: 15px 50px;
    text-align: left;
    width: 500px;
    margin: auto;   
    margin-top: 725px;
    background-color: #f9f8f7;
    border-radius: 5px;
}

.chef-container{
    border-width: 2px;
    border-style: solid;
    border-color: #e8e6de;
    padding: 15px 30px;
    text-align: left;
    width: 500px;
    margin: auto;   
    margin-top: 10px;
    margin-bottom: 50px;
    background-color: #f9f8f7;
    border-radius: 5px;
}   
    
.menu{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 60px 1fr;
    grid-column-gap: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #e8e6de;
    padding: 15px 30px;
    text-align: left;
    width: 500px;
    margin: auto;   
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: #f9f8f7;
    border-radius: 5px;
}  
    
.menuleft{
        grid-column: 1; 
    }    
.menuright{
        grid-column: 3; 
    }
.menu h1{
        grid-column: 2;
    } 

.pho{
float: right;
    height: 800px;
    max-width: 814px;
    /*background-color: aqua;*/
    margin-bottom: 50px;   
}
.pho img{
    width: 100%;
    max-height: 800px;
    max-width: 814px;
}
  
    
.interior{
float: left;
    max-height: 800px;
    margin-bottom: 50px;    
}
.interior img{
    width: 100%;
    max-height: 800px;
}
 
input{
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #e8e6de;
    font-family: 'Poppins', sans-serif;
    width: 400px;
    height: 30px;
}
#name{
    
    margin-left: 10px;
}
#email{
    
    margin-left: 16px;
}
#phone{
    
    margin-left: 4px;
}
#date{
    
    margin-left: 19px;
}
#time{
    
    margin-left: 18px;
}
#party{
    
    margin-left: 4px;
    width: 380px;
}
select{
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #e8e6de;
    font-family: 'Poppins', sans-serif;
    width: 450px;
}

button{
    width: 100px;
    margin: 20px 0px 10px 95px;
    padding: 12px 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #c7c6bf;
    background-color: #f9f8f7;
    font-family: 'Poppins', sans-serif;
    font-size: 15pt;
    border-radius: 2px;
} 
    
footer{
    margin-top: 35px;
    border-width: 2px;
    border-style: solid;
    border-color: #c7c6bf;
    background-color: rgba(212, 211, 204, .65); 
    padding: 0px 15px 25px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-template-rows: 145px 70px;
}
  
 .logo{
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    /*background-color: aliceblue;*/
    padding: 0px 15px;
    grid-column: 1;
    grid-row: 1;    
    /*padding-left: 175px;*/
}   
.restinfo{
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    /*background-color: aliceblue;*/
    padding: 0px 15px;
    grid-column: 3;
    grid-row: 1;
    /*padding-left: 175px;*/
    
}

.hours{
    display: grid; 
    grid-template-columns: 1fr;
    /*background-color: aqua;*/
    grid-column: 2;
    grid-row: 1 / 2;
    padding: 0px 5px;
    /*padding-right: 150px;*/
}
}

@media (min-width: 1024px){
    
header{
 
    width: 0px;
    height: 0px;
}    
header img{
    visibility: hidden; 
    width: 0px;
    height: 0px;
}
.mobile-nav{
    visibility: hidden;
    height: 0px;
    width: 0px;
    }  
.dropdown{
    visibility: hidden;
    height: 0px;
    width: 0px;
    }
.main-nav{
    display: grid;
    visibility: visible;
    height: 155px;
    width: 100%;
    
    }
.main-nav ul{
    display: grid;
    grid-gap: 20px;
    padding:0;
    list-style: none;
    grid-template-columns: 40% 1fr 1fr 1fr 1fr 1fr 1fr;
    font-family: 'Thasadith', sans-serif;
    font-weight: bold;
}
.main-nav a {
    display: grid;
    text-decoration: none;
    padding:0px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    color: #000000;
    vertical-align: baseline;
}
.main-nav a:hover {
    background: var(--dark);
    color: var(--light);

}
li img{
    width: 250px;
    height: auto;
    margin: 25px;
    padding-top: 0px;
}

.contact-container{
    margin-top: 775px;
}

.interior{
float: left;
    height: 700px;
    margin-bottom: 50px;
    
}
.interior img{
    width: 100%;
    max-height: 687px;
    max-width: 1024px;
}



}

@media (min-width: 1200px){    
.main-nav ul{
    display: grid;
    grid-gap: 20px;
    padding:0;
    list-style: none;
    grid-template-columns: 60% 1fr 1fr 1fr 1fr 1fr 1fr;
    font-family: 'Thasadith', sans-serif;
    font-weight: bold;
}    
.pho-full{
    visibility: visible;
    height: 100%;
    width: 100%;
    max-height: 804px;
    max-width: 1304px;
    margin: auto;
    margin-bottom: 50px;
    
}
.pho-full img{
    visibility: visible;
    width: 100%;
    height: 100%;
    margin: auto;
    max-height: 804px;
    max-width: 1304px;
}
.pho{
    visibility: hidden;
    width: 0px;
    height: 0px;
}
.pho img{
    visibility: hidden;
    width: 0px;
    height: 0px;
}
    
.interior{
    display:grid;
    height: 100%;
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
    
    
}
.interior img{
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 10px;
        max-height: 1334px;
    max-width: 2000px;
}
    
    
.chef-container{
    display: grid;
    border-width: 2px;
    border-style: solid;
    border-color: #e8e6de;
    padding: 15px 30px;
    text-align: left;
    width: 500px;
    margin: auto;   
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #f9f8f7;
    border-radius: 5px;
    grid-column: 1; 
    grid-row: 1;
    
} 
.contact-container{
    border-width: 2px;
    border-style: solid;
    border-color: #e8e6de;
    padding: 15px 50px;
    text-align: left;
    width: 500px;
    margin: auto;   
    margin-top: 825px;
    background-color: #f9f8f7;
    border-radius: 5px;
}
.menu{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 60px 1fr;
    grid-column-gap: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #e8e6de;
    padding: 15px 30px;
    text-align: left;
    width: 500px;
    margin: auto;   
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #f9f8f7;
    border-radius: 5px;
    grid-column: 2; 
    grid-row: 1;
} 
.menuleft{
        grid-column: 1; 
    }    
.menuright{
        grid-column: 3; 
    }
.menu h1{
        grid-column: 2;
    }  
    
.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 10px;   
    width: 100%;
    }
    
}